<h1>Search businesses</h1>

<%= form_tag "/businesses", method: 'get' do %>
  <%= text_field_tag 'search', 'Search businesses', class: 'form-control'%>
<% end %>

<% if @results %>
  <%= form_tag businesses_path, action: :create, method: :post do %>
    <% @results.each do |result| %>
      <p><%= "dba_name: #{result[0]}" %></p>
      <%= link_to "See details", query_result_path(ttxid: result) %><br>
    <% end %>
    <%= submit_tag "Submit" %>
  <% end %>
<% end %>