<h1>Login</h1>

<%= form_for :session, url: login_url do |login_fields| %>
  <%= login_fields.label :email %>
  <%= login_fields.text_field :email %><br>
  <%= login_fields.label :password %>
  <%= login_fields.password_field :password %><br>
  <%= login_fields.submit "Submit" %>
<% end %>

<p>Don't have an account? <%= link_to "Click here", new_user_path %> to sign up!</p>
