<!DOCTYPE html>
<html>
  <head>
    <title>Personally</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |f,m| %>
      <%= content_tag :div, m, class: "alert alert-#{f}" %>
    <% end %>
    
    <%= yield %>

    <nav>
      <span><%= link_to("Logout",logout_path,{ action: :destroy, method: :post }) if logged_in? %></span>
      <span><%= link_to("Search", search_path) if logged_in? %></span>
    </nav>
  </body>
</html>
